* {
    color: white;
    font-family: 'Montserrat';
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

    #section_1 {
        width: 100vw;
        height: 100vh;
        background-image: url(./img/hero_img.png);
        background-position: center;
        background-size: cover;
    }

        .logo {
            width: 10vw;
            height: 3vw;
            flex-shrink: 1;
        }

        header {
            display: flex;
            padding: 3vw;
            justify-content: space-between;
            margin: auto 3vw;
        }
        
            .header ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                gap: 50px;
            }
            
                .header ul li {
                    font-size: 0.9vw;
                    font-weight: 600;
                }
            
                    .header ul li a {
                        text-decoration: none;
                    }
        
        .hero {
            display: flex;
            flex-direction: column;
            margin-left: 11vw;
            margin-top: 7vw;
        }
        
            .hero_text {
                font-family: 'Bebas Neue' !important;
                margin: 0;
            }
        
            .hero_subtext {
                font-size: 1.1vw;
            }
        
            .hero button {
                flex-grow: 0;
                padding: 1vw 2vw;
                background-color: #b6039f;
                border-radius: 20px;
                font-weight: 700;
                font-size: 1.3vw;
                width: 18vw;;
                margin-top: 1.5vw;
            }

    #section_2 {
        width: 100vw;
        height: 100vh;
        background-image: url(./img/pain_points.png);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9vw;
    }

        #section_2 ul {
            display: flex;
            flex-direction: column;
            margin-left: 0px;
            margin-top: 3vw;
            margin-bottom: 3vw;
            gap: 2vw;
        }

        #section_2 button {
            flex-grow: 0;
            padding: 1vw 2vw;
            background-color: #b6039f;
            border-radius: 20px;
            font-weight: 700;
            font-size: 1.3vw;
            width: 22vw;;
        }

    #section_3 {
        width: 100vw;
        height: 100vh;
        background-image: url(./img/three_steps.png);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }

        #section_3 .content {
            display: flex;
            gap: 5vw;
        }

            #section_3 .content .box {
                display: flex;
                flex-direction: column;
                width: 20vw;
                height: 20vw;
                border-style: solid;
                border-color: whitesmoke;
                border-radius: 40px;
                border-width: 1px;
                align-items: center;
                padding: 2vw;
            }

                #section_3 .content .box h3 {
                    font-size: 1.6vw;
                    margin: 0;
                }

                #section_3 .content .box p {
                    text-align: center;
                    font-size: 0.9vw;
                    font-weight: 600;
                    line-height: 1.3vw;
                }