* {
    color: white;
    font-family: 'Montserrat';
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

    #section_1 {
        width: 100vw;
        height: 100vh;
        background-image: url(./img/hero_img.png);
        background-position: center;
        background-size: cover;
    }

        .logo {
            width: 10vw;
            height: 3vw;
            flex-shrink: 1;
        }

        header {
            display: flex;
            padding: 3vw;
            justify-content: space-between;
            margin: auto 3vw;
        }
        
            .header ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                gap: 5vw;
            }
            
                .header ul li {
                    font-size: 0.9vw;
                    font-weight: 600;
                }
            
                    .header ul li a {
                        text-decoration: none;
                    }
        
        .hero {
            display: flex;
            flex-direction: column;
            margin-left: 11vw;
            margin-top: 7vw;
        }
        
            .hero_text {
                font-family: 'Bebas Neue' !important;
                margin: 0;
            }
        
            .hero_subtext {
                font-size: 1.1vw;
            }
        
            .hero button {
                flex-grow: 0;
                padding: 1vw 2vw;
                background-color: #b6039f;
                border-radius: 1.5vw;
                font-weight: 700;
                font-size: 1.3vw;
                width: 18vw;;
                margin-top: 1.5vw;
            }

    #section_2 {
        width: 100vw;
        height: 80vh;
        background-image: url(./img/pain_points.png);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9vw;
    }

        #section_2 h3 {
            font-size: 2vw;
            text-align: left;
            margin-top: 0;
        }
    
        #section_2 ul {
            display: flex;
            flex-direction: column;
            margin-left: 0px;
            margin-top: 3vw;
            margin-bottom: 3vw;
            gap: 2vw;
            font-size: 1.1vw;
            padding-left: 1.3vw;
        }

        #section_2 button {
            flex-grow: 0;
            padding: 1vw 2vw;
            background-color: #b6039f;
            border-radius: 1.5vw;
            font-weight: 700;
            font-size: 1.3vw;
            width: 22vw;;
        }

    #section_3 {
        width: 100vw;
        height: 75vh;
        background-image: url(./img/three_steps.png);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }

        #section_3 .content {
            display: flex;
            justify-content: center;
            gap: 3vw;
        }

            #section_3 .content .box {
                display: flex;
                flex-direction: column;
                width: 14vw;
                height: 14vw;
                border-style: solid;
                border-color: whitesmoke;
                border-radius: 4vw;
                border-width: 1px;
                align-items: center;
                padding: 2vw;
                background-color: rgba(0, 0, 0, 0.5);
            }

                #section_3 .content .box h3 {
                    font-size: 1.1vw;
                    font-weight: 700;
                    margin: 0;
                }

                #section_3 .content .box p {
                    text-align: center;
                    font-size: 0.7vw;
                    font-weight: 600;
                    line-height: 1.3vw;
                }

    #section_4 {
        width: 100%;
        height: 75vh;
        /*background-image: url(./img/three_steps.png);
        background-position: center;
        background-size: cover;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5vw;
        margin: 0
    }

        #section_4 h1 {
            font-family: 'Bebas Neue';
            font-size: 5vw;
            margin-top: 10vw;
            text-align: center;
        }

        #section_4 .scroll_container {
            display: flex;
            justify-content: start;
            gap: 5vw;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
            overflow-x: scroll;
            overflow-y: hidden;
            margin: 0 2vw;
            padding-bottom: 2vw;
            scrollbar-color: #b6039f;
        }

        #section_4 .scroll_container::-webkit-scrollbar {
            height: 0.8vw !important;    
        }

        #section_4 .scroll_container::-webkit-scrollbar-track {
            background: black !important;
        }

        #section_4 .scroll_container::-webkit-scrollbar-button {
            background: #d363c4 !important;
        }

        #section_4 .scroll_container::-webkit-scrollbar-thumb {
            background: #b6039f !important;
            border-radius: 4px !important;
        }

        #section_4 .scroll_container::-webkit-scrollbar-thumb:hover {
            background: #5f0052 !important;
        }

            #section_4 .box {
                display: flex;
                flex: 0 0 auto;
                align-items: center;
                padding: 2vw;
                width: 30vw;
                border-style: solid;
                border-color: white;
                border-radius: 2vw;
                border-width: 0.1vw;
                text-align: center;
                gap: 2vw;
                scroll-snap-align: start;
            }

                #section_4 .box .content {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto ;
                    justify-content: start;
                    align-items: center;
                    height: 12vw;
                }

                #section_4 .box .picture {
                    border-radius: 2vw; 
                    width: 12vw
                }
                
                    #section_4 .box .content h3 {
                        font-size: 2vw;
                        margin-bottom: 0vw;
                        margin-top: 0vw;
                    }

                    #section_4 .box .content h5 {
                        font-size: 1vw;
                        margin-top: 0.3vw;
                        margin-bottom: 0.3vw;
                    }

                    #section_4 .box .content .stars {
                        height: 2vw; 
                        width: 8vw; 
                        object-fit: cover;
                    }

                    #section_4 .box .content p {
                        margin-top: 1.5vw;
                        font-weight: 400;
                        font-size: 0.8vw;
                    }

    #section_5 {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 75vh;
        justify-content: center;
    }

        #section_5 h1 {
            text-align: center;
            font-family: 'Bebas Neue';
            font-size: 5vw;
        }

        #section_5 .scroll_container {
            display: flex;
            flex: 0 0 auto;
            animation: scroll 12s linear infinite;
        }

        #section_5 .scroll_container .company_logo {
            margin-right: 8vw;
        }

        #section_5 .scroll_container .company_logo img {
            width: 20vw;
        }

        @keyframes scroll {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-168vw);
            }
        }